[
  {chat_room,
   [{window_size, 20},
    {number_of_kept_messages,20},

    {trickster_bot, true},
    {trickster_bot_interval, 600000},%ms, 10 min
    {trickster_bot_name, "Santa Clause"},
    {trickster_random_messages,
     ["Happy New year",
      "Merry Christmas",
      "Congratulations!",
      "Have a nice day",
      "HOW! HOW! HOW!"]}]
  },
  {cowboy,
   [{port, 8080},
    {ws_idle_timeout, 300000}]%5 min
  },
  {kernel, [
   {logger_level, all},
   {logger, [
     {handler, default, logger_std_h, #{
            %%console logging
            % level => debug,
            level => info
            % formatter => {logger_formatter, #{template => [level, " - " , pid, " - ", mfa ,":", line, " ", msg, "\n"]}}
        }}]}]}

].